@font-face {
    font-family: internalFont;
    src: url("fonts/CharisSIL-R.woff") format("woff");
}

@font-face {
    font-family: internalFont;
    src: url("fonts/CharisSIL-I.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: internalFont;
    src: url("fonts/CharisSIL-B.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: internalFont;
    src: url("fonts/CharisSIL-BI.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

body {
    /* Use a contrast, that is strong enough to recognize easily the letters,
     * but not so strong to burn your eyes. Use neutral gray without any
     * colour saturation. Do not use pure white for the background, but a
     * slightly dimmed gray to avoid too strong light on monitors. */
    background-color: #fcfcfc;
    color: #282828;
    /* Do not put too many words in a single line: */
    width: 41em;
    /* Avoid horizontal scrolling, and leave a small margin
     * at the left and at the right. */
    max-width: 90%;
    /* To avoid problems with some older browsers, that do not calculate
     * relative values correctly without this statement. */
    font-size: 100%;
    /* Use SHY hyphens in the HTML content, but do not make any other
     * automatic hyphenation. */
    hyphens: manual;
    /* Center the content and leave a margin at the left and at the right. */
    margin-left: auto;
    margin-right: auto;
    font-family: internalFont, serif;
}

h1 {
    line-height: 0.95em;
    margin-top: 1.1em;
    margin-bottom: 0.0em;
    page-break-after: avoid;
}

h2 {
    line-height: 0.95em;
    margin-top: 1.0em;
    margin-bottom: 0.0em;
    page-break-after: avoid;
}

p, li {
    /* Use a bigger line spacing than in typical print products, because it
     * is always more difficult to read on the screen than to read on paper,
     * and more line spacing helps. */
    line-height: 1.65em;
    page-break-inside: avoid;
}

.singleLineGraphic {
    height: 3.5em;
}

.center {
    text-align: center;
}

.allSmallCaps {
    /** We could also use
     *
     * font-variant: small-caps;
     * text-transform: lowercase;
     *
     * but a browser that does not know how to deal with small-caps would
     * display only lowercase letters. So it’s saver to use all-small-caps,
     * even if there is less brower support for this. */
    font-variant: all-small-caps;
}

.no-pagebreak {
    page-break-inside: avoid;
}